rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /gameResults/{docId} {
      allow read: if true;
      allow write: if request.resource.data.clicks is int;
    }
  }
}